<template name="Header">
    <nav id="top-menu">
        <div class="navbeer ui top fixed borderless menu">
            <div class="ui container">
                <div class="navbeer-sandwich ui dropdown item">
                    <i class="navbeer-sandwich-icon content large icon"></i>
                    <div class="navbeer-sandwich-content menu">
                        <!--Keep empty-->
                    </div>
                </div>
                <a class="navbeer-brand item" href="{{pathFor 'Home_page'}}">
                    <div class="ui large header">
                        SnookerScore
                    </div>
                </a>
                <div class="navbeer-menu left menu">
                    <a class="{{ isActiveRoute 'Home_page'}}
                            item navbeer-collapsable-item"
                            href="{{ pathFor 'Home_page' }}">
                        <span><i class="home icon"></i>Home</span>
                    </a>
                    <a class="{{ isActiveRoute 'About_page'}}
                            item navbeer-collapsable-item"
                            href="{{ pathFor 'About_page' }}">
                        <span><i class="help circle icon"></i>About</span>
                    </a>
                    {{#if currentUser}}
                        <a class="{{ isActiveRoute 'New_match_page'}}
                                item navbeer-collapsable-item"
                                href="{{ pathFor 'New_match_page' }}">
                            <span><i class="green add square icon"></i>New Match</span>
                        </a>
                    {{/if}}
                </div>
                <div class="navbeer-non-collapse right menu" id="non-collapse">
                    <a class="item">{{> loginButtons align="right" }}</a>
                </div>
            </div>
        </div>
    </nav>
</template>
