body {
  padding-top: 90px;  /* Move body of page below navbar. */
}

.key {
  width: 16px;
  text-align: center;
}

.player {
  font-size: 8vh;
  /*font-weight: bold;*/
  line-height: 1;
}

.frames {
  font-size: 12vh;
  line-height: 1;
}

.score {
  font-size: 20vh;
  line-height: 1;
}

.break {
  font-size: 15vh;
  line-height: 1;
  color: yellow;
}

.info {
  font-size: 5vh;
  line-height: 1;
  color: grey;
}
