body {
  padding-top: 90px;  /* Move body of page below navbar. */
}

.key {
  width: 16px;
  text-align: center;
}

.player {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8vh;
  font-weight: bold;
  line-height: 1.2;
}

.frames {
  font-size: 12vh;
  font-weight: bold;
}

.total-frames {
  font-size: 5vh;
  font-weight: bold;
}

.score {
  font-size: 20vh;
  font-weight: bold;
}

.break {
  font-size: 15vh;
  font-weight: bold;
  color: yellow;
}

.info {
  font-size: 4vh;
  line-height: 1;
  color: AliceBlue;
}
